@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700|Roboto:400,500,700');

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Catamaran', sans-serif;

$regular: 400;
$medium: 500;
$bold: 700;